.modalContent {
    border: 2px solid #1976D2;
    border-radius: 8px;
    position: relative;
    top: 30%;
    left: 30%;
    width: 280px;
    height: 140px;
    text-align: center;
}

.modalContent div {
    height: 30px;
}

.modalContent p {
    margin-top: 30px;
}

.modalContent Button {
    margin-top: 30px;
}